ul {
  font-size: 22px;
  color: black;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  /* padding: 0.1px; */
  box-sizing: border-box;
  border-collapse: separate;
}
button {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  writing-mode: horizontal-tb !important;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}
#header {
  height: 8vh;
  display: flex;
  align-items: center;
  width: 100vw;
  padding-right: 4vh;
  background-color: white;
}

#tenYearsCeleb {
  background-color: #f9cc69;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
}
#tenYearCelebImg {
  max-width: 25px;
  vertical-align: middle;
  margin-right: 2px;
  margin-left: -3px;
}
.signIn {
  display: flex;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  color: #f0483e;
  font-size: 15px;
}
#connectHomeLoginPageContainer {
  height: 86vh;
  background-color: #3f249d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#connectHomeLoginPageBox {
  height: 70vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 54em) {
  #connectHomeLoginPageContent {
    display: none;
  }
}
.text1 {
  font-size: 80px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.connectHomeLoginPageinputContainer {
  width: 50%;
  min-width: 400px;
  height: 100%;
  min-height: 530px;
}
.text2 {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Noto Sans JP", sans-serif;
  color: rgba(214, 214, 214, 0.853);
  font-weight: 100;
  font-size: 19px;
  line-height: 32px;
  /* font-size: 16px; */
}
.signup-box {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 auto;
}
.signBox {
  width: 100%;
  max-width: 400px;
}
.signBox {
  color: #fff;
  background: rgb(0 0 0 / 10%);
  padding: 50px 50px 20px;
  border-radius: 10px;
  max-width: 460px;
  margin: 0;
}
.formHeader {
  font-size: 18px;
  text-align: left;
  color: #27d0a9;
}
.signup-box form > div {
  position: relative;
}
.signup-box .signForm {
  margin: 15px 0 0;
  position: relative;
}

.signup-box input[type="email"],
.signup-box input[type="number"],
.signup-box input[type="password"],
.signup-box input[type="text"] {
  color: #000;
  padding: 14px 12px;
  border: 1px solid #d5d5d5;
  display: block;
  width: 100%;
  font-size: 13px;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 1;
  transition: 0.5s ease;
  border-radius: 0;
  height: 45px;
  line-height: 1;
}
.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="number"],
.signup-box input[type="password"] {
  border: 1px solid #d9d3ed;
  background-color: #fff0;
  color: #fff;
  font-size: 14px;
  height: 52px;
  margin: 0;
}

.signup-box .signTOSContainer {
  margin-bottom: 15px;
  margin-top: 8px;
  position: relative;
}
.signup-box .signTOSContainer label {
  color: #fff;
}
.signup-box .signTOSContainer label {
  position: relative;
  padding-left: 15px;
}
.signup-box h5,
.signup-box .sign_agree,
.signup-box label,
.signup-box .sign_agree a {
  color: #000;
}
.signup-box .sign_agree,
.signup-box label {
  font-size: 11px;
  display: inline-block;
  line-height: 1.3;
  color: #333;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  text-align: left;
}
.sign_agree {
  margin: 0;
}
.sign_agree {
  color: #000;
  font-size: 11px;
  line-height: 20px;
  margin-top: 0;
  padding-bottom: 10px;
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: 0;
  color: var(--primary-anchor-clr);
}
.signup-box .sign_agree a {
  color: #333;
  text-decoration: underline;
}
.signup-box h5,
.signup-box .sign_agree,
.signup-box label,
.signup-box .sign_agree a {
  color: #000;
}
.signup-box .sign_agree a {
  color: #fff;
}
input[type="submit"] {
  background: none repeat scroll 0 0 #f0483e;
  border: 1px solid #f0483e;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 30px;
  margin-bottom: 40px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input[type="submit"] {
  margin-bottom: 0;
}
.signup-box .sgnbtn input[type="submit"],
.signup-box .sgnbtn input[type="button"] {
  font-size: 15px;
  height: 50px;
  padding: 0 60px;
  background: #f0483e;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#signinPageContainer {
  background-image: url("https://static.zohocdn.com/iam/v2/components/images/bg.49756b7c711696d95133fa95451f8e13.svg");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signInPageBoxContainer {
  height: 69vh;
  width: 1069px;
  min-height: 520px;
  background-color: #fff;
  box-shadow: 0px 2px 30px #ccc6;
  display: flex;
  overflow: hidden;
  border-radius: 23px;
  /* justify-content: space-between */
}
#signInPageBox {
  height: 100%;
  width: 60%;
  border-right: solid #f1f1f1 2px;
}
#signInPageBoxImages {
  height: 100%;
  width: 40%;
  border-left: solid #f1f1f1 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signInPageBoxHeader {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 69px 0px 0px 69px;
}
#imageSignIn{
  width: 100%;
}





form {
  display: block;
  margin-top: 2em;
}
.signin_head {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 30px;
  transition: all 0.1s ease-in-out;
}
.service_name,
.backup_desc,
.pass_name {
  display: block;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.service_name {
  line-height: 28px;
}

.textbox_div {
  display: block;
  margin-bottom: 30px;
  position: relative;
}
.select_container_cntry_code ~ input {
  text-indent: 107px !important;
}
.select_container--country_implement ~ input {
  text-indent: 10px !important;
}
.textbox,
#mfa_otp,
#emailverify,
#mfa_totp,
#otp {
  display: block;
  width: 86%;
  height: 44px;
  box-sizing: border-box;
  border-radius: 2px;
  text-indent: 12px;
  font-size: 16px;
  outline: none;
  border: none;
  padding-right: 12px;
  transition: all 0.2s ease-in-out;
  background: #f8f8f8;
  border: 1px solid #e4e4e4;
}
.btn {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  margin: auto;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}
.blue {
  box-shadow: 0px 2px 2px #fff;
  background-color: #159aff;
  color: #fff;
  width: 86%;
  margin: 0;
}
.blue:hover {
  box-shadow: 0px 2px 2px rgba(90, 183, 254, 0.2);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media (max-width: 54em) {
  #signInPageBox {
    width: 100%;
  }
  #signInPageBoxImages {
    width: 0%;
    display: none;
  }
  #signInPageBoxHeader {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

